.chefs-section {
  &__title {
    margin: 0 auto 80px;
    max-width: 520px;
    position: relative;

    @media screen and (min-width: $bp-desktop) {
      margin-bottom: 80px;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: $bp-tablet) {
      gap: 40px 30px;
      flex-direction: row;
    }
  }

  &__item {
    @media screen and (min-width: $bp-tablet) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  &__title::after {
    display: none;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: "";
    position: absolute;
    right: -360px;
    bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__title::before {
    display: none;
    width: 352px;
    border: 2px solid var(--color-brand-light);
    content: "";
    position: absolute;
    left: -360px;
    bottom: 24px;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }
}
// chefs-section .chefs-section .chefs-title::before
