.address-link {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary-light);
  text-decoration: none;
}

.address-social {
  fill: var(--color-primary-light);
}

.address-social:hover {
  fill: var(--color-brand-normal);
}
.address-link:hover {
  color: var(--color-brand-normal);
}

.copyright {
  font-size: 14px;
}

.footer {
  background-image: url(./../images/footer-background.png);
  background-color: var(--color-brand-dark);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px 0;
  position: relative;
}

.footer-container {
  display: flex;
  gap: 20px;
}

.footer-logo,
.footer-menu {
  flex-basis: 50%;
}

.footer-nav,
.footer-address {
  flex-basis: 50%;
  display: flex;
  gap: 20px;
}

.address-list,
.address-info {
  flex-grow: 1;
}

.footer::before {
  background-image: url(./../images/decor-bread-small.png);
  content: "";
  position: absolute;
  width: 180px;
  height: 120px;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
}

.footer::after {
  background-image: url(./../images/decor-bread-large.png);
  content: "";
  position: absolute;
  width: 380px;
  height: 190px;
  background-repeat: no-repeat;
  bottom: 0;
  right: 0;
}
