.input {
  position: relative;

  &__label {
    position: absolute;
    top: 16px;
    left: 42px;
  }

  &__control {
    padding: 16px 42px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-secondary-dark);
    background-color: transparent;
    font-size: 16px;
    &:focus {
      border-color: var(--color-brand-normal);
      outline: none;
    }
  }

  &::placeholder {
    color: var(--color-secondary-dark);
    font-size: 16px;
    line-height: 1.17;
  }

  &:focus::placeholder {
    color: var(--color-brand-dark);
  }
}

/* .form-input:disabled {
  border-color: lightgray;
} */

/* .form-input:disabled::placeholder {
  border-color: lightgray;
} */
